.fade-enter{
    opacity: 0;
    transform: scale(.1);
}

.fade-enter-active{
    transition: all .8s ease;
     transition-delay: calc(.08s * var(--i));
}

.apexcharts-tooltip.apexcharts-theme-light{
    //border: none;
    background: #fff;
    padding: .2em;
}
.apexcharts-tooltip.apexcharts-theme-light{
    font-size: larger;
    color:darkorange;
}
// @for $i from 1 through 14 {
//     .fade-enter-active:nth-of-type(#{$i}) {
//      // animation: 3s intro infinite;
//       transition-delay: random() + s;
//       //animation-delay: random() + s;
//     }
//  }