<section id="single-order" class="page">
  <v-row justify="space-around">
    <v-col cols="12" lg="5" sm="12" xs="12">

      <v-card>
        <v-card-text>
          <div class="d-flex justify-space-between">
            <div class="text-h5">Freight Bill #{{TMWOrder['FB#']}}</div>
            <div class="text-h7">
              <v-chip label class="mt-n9 pa-9" color="accent">Status: {{TMWOrder['CURRENT_STATUS']}}</v-chip>
            </div>
          </div>
          <v-tabs icons-and-text v-model="currentTab" color="accent" grow centered>
            <v-tab v-for="item in tabs" :key="item.tab" @click="shouldI(item.tab)">
              {{ item.tab }}
            </v-tab>
          </v-tabs>
          <v-tabs-items v-model="currentTab">
            <v-tab-item v-for="item in tabs" :key="item.tab">
              <v-container>
                <v-row v-if="item.tab === 'Shipping'" dense justify="space-between">
                  <v-col cols="12">

                    <v-col cols="12">
                      <v-card flat class="my-0">
                        <v-row>
                      <v-col cols="12">
                        <v-tooltip color="accent" bottom>
                          <template v-slot:activator="{ on, attrs }">
                           
                            <span
                            v-bind="attrs"
                            v-on="on"
                            class="subtitle-3 text-decoration-underline text-left">
                              Origin
                            </span>
                          </template>                       
                          <span
                        
                        >
                        <p>{{item.content['ORIGIN STREET']}}</p>
                        <p>{{item.content['ORIGIN CITY']}}, {{item.content['ORIGIN STATE']}} {{item.content['ORIGIN ZIP']}}</p>
                        
                      </span>
                        </v-tooltip>
                      </v-col>
                        <!-- </v-row> -->

                        <!-- <v-row justify="space-around"> -->
                          <v-col cols="6" class="pa-1"> {{item.content['ORIGIN CITY']}},
                            {{item.content['ORIGIN STATE']}} </v-col>
                          
                          <v-col cols="6" class="pa-1 "><span class="text--disabled">Arrive </span>
                            {{item.content.ARRSHIP | toDateString}}</v-col>
                        <!-- </v-row> -->
                        <!-- <v-row justify="space-around"> -->
                          <v-col cols="6" class="pa-1"></v-col>
                          <v-col cols="6" class="pa-1"> <span class="text--disabled">Depart </span>
                            {{item.content.DEPSHIP | toDateString}}</v-col>
                          </div> 
                          <!-- <v-col cols="3" offset="9">
                            <v-chip  label>Per lb</v-chip>
                          </v-col> -->
                        </v-row>
                      </v-card>
                    </v-col>
                    <v-col cols="12">
                      <v-card flat class="my-0">
                        <v-row>
                          <v-tooltip color="accent" bottom>
                            <template v-slot:activator="{ on, attrs }">
                             
                              <span
                              v-bind="attrs"
                              v-on="on"
                              class="subtitle-3 text-decoration-underline text-left">
                              Consignee
                              </span>
                            </template>                       
                            <span
                          
                          >
                          <p>{{item.content['CONSIGNEE STREET']}}</p>
                          <p>{{item.content['CONSIGNEE CITY']}}, {{item.content['CONSIGNEE STATE']}} {{item.content['CONSIGNEE ZIP']}}</p>
                          
                        </span>
                          </v-tooltip>
                          <!-- <div class="subtitle-3 text-decoration-underline text-left">
                            
                          </div> -->
                        </v-row>
                        <v-row justify="space-between">
                          <v-col cols="6" class="pa-1"> {{item.content['CONSIGNEE NAME']}} </v-col>
                          <v-col cols="6" class="pa-1"><span class="text--disabled">Arrive </span>
                            {{item.content.ARRCONS | toDateString}}</v-col>
                        </v-row>

                        <v-row justify="space-between">
                          <v-col cols="6" class="pa-1"> {{item.content['CONSIGNEE CITY']}},
                            {{item.content['CONSIGNEE STATE']}} {{item.content['CONSIGNEE ZIP']}} </v-col>
                          <v-col cols="6" class="pa-1"><span class="text--disabled">Depart </span>
                            {{item.content.DEPCONS | toDateString}}</v-col>
                        </v-row>
                      </v-card>
                    </v-col>
                    <v-col cols="12">
                      <v-card flat class="my-0">
                        <v-row>
                          <div class=" text-decoration-underline text-left">
                            Details
                          </div>
                        </v-row>
                        <v-row justify="space-between">
                          <v-col v-for="(detail, i) in details" cols="6" class="pa-2" :key="i">
                            <v-row dense><small class="text--disabled">{{i}}</small> </v-row>
                            <v-row dense>{{ detail }}</v-row>
                          </v-col>
                        </v-row>
                      </v-card>
                    </v-col>
                  </v-col>
                </v-row>                
                <v-row v-if="item.tab === 'Stats'">
                  <v-col cols="6"> <small class="text--disabled">Cost Per Pound</small></v-col>
                  <v-col cols="6">{{item.content.costPerPound | toCurrency}}</v-col>
                  <v-col cols="6"> <small class="text--disabled">Cost Per Case</small></v-col>
                  <v-col cols="6">{{item.content.costPerCase | toCurrency}}</v-col>
                  <v-col cols="6"> <small class="text--disabled">Cost Per Mile</small></v-col>
                  <v-col cols="6">{{item.content.costPerMile | toCurrency}}</v-col>
                  <v-col cols="6"> <small class="text--disabled">Cost Per Pallet</small></v-col>
                  <v-col cols="6">{{item.content.costPerPallet | toCurrency}}</v-col>
                </v-row>
                <v-row v-if="item.tab === 'Warehouse'">
                  <v-col v-if="hasWHS_NO" cols="12"> 
                  <v-col v-if='loading' cols="12">  
                   
                  <v-skeleton-loader
                  
                  class="mx-auto"
                  max-width="300"
                  type="article"
                ></v-skeleton-loader>
                  </v-col>
                  <v-col v-else cols="12">   
                    <ag-grid-vue  rowSelection='single'    @selection-changed="onSelectionChanged" style="height:500px" :class="themeClass" :columnDefs="columnDefs" :rowData="item.content"
                    :defaultColDef="defaultColDef" :pagination="true"  :sideBar="sideBar" :modules="modules"  :gridOptions="gridOptions"
                       :enableRangeSelection="true">
                  </ag-grid-vue>  
                    
                  </v-col>
                  </v-col>
                  <v-col v-else cols="12">
                    <h4>
                      Record Not Found
                    </h4>
                  </v-col>
                </v-row>
                <v-row v-if="item.tab === 'Documents'" class=" flex-column">
                  <v-col cols="12">   
                    <v-list v-if="hasdocs">
                      <v-list-item v-for="(item, idx) in docInfo" :key="idx" @click="getDoc(item)">
                        <a id="doclink" :href="item.path" download>
                      <v-list-item-content>
                      <v-list-item-title v-text="item.doctype">
                      </v-list-item-title>
                    <v-list-item-subtitle >{{item.hdr_scandate | toDateString}}</v-list-item-subtitle>
                    </v-list-item-content></a>
                      </v-list-item>
                    </v-list>
                    <h4 v-else>
                      No Documents Found
                    </h4>
                                    
                    <!-- <iframe :src="docurl" width="100%" height="700px"></iframe>  -->
                  </v-col>
                </v-row>

              </v-container>
            </v-tab-item>
          </v-tabs-items>
        </v-card-text>
      </v-card>      
 
    </v-col>
    <!-- <v-divider vertical></v-divider> -->
    <v-col cols="12" lg="6" sm="12" xs="12">
      <v-card>
        <v-card-title>
          Map
        </v-card-title>
        <v-card-text style="height:700px;">
          <div id="order_info_map_canvas"></div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</section>