
    <base-material-card class="main-material-card" color="success" >
    <template v-slot:heading>
      <div class="display-2 font-weight-light">On Time Delivery and Sailing Schedule</div>
    </template>
    <v-card-text v-resize="onResize">
      <v-data-table :max-height="windowSize.y - (75 + 80 + 32 + 24  + 45)"  :headers="headers" :items="items" :loading="loading" loading-text="Loading... Please wait"
       >
        <!-- <template v-slot:group.header="{ group, headers, toggle, isOpen }">
          <td :colspan="headers.length">
             <v-btn @click="toggle" x-small icon :ref="group">
                 <v-icon v-if="isOpen">mdi-plus</v-icon>
                 <v-icon v-else>mdi-minus</v-icon>
             </v-btn>
             <span class="mx-5 font-weight-bold">{{ group }}</span>
          </td>
        </template> -->
      </v-data-table>
    </v-card-text>
  </base-material-card>
